@page "/charts3"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Syncfusion.Blazor.Charts

@using Syncfusion.Blazor.Data
@using BapBlazor.Data
@using Newtonsoft.Json



@inject HttpClient client
@inject NavigationManager NavManager

<div class="row justify-content-center">
    <h1>Charts Showing Data Analysis Trends</h1>
</div>

<div class="row justify-content-center">
    <h2>Chart Number 3</h2>
</div>

<SfChart Title="Number of Downloads for each Category">

    <ChartPrimaryXAxis Title="Category" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" />
    <ChartPrimaryYAxis Title="Number of People" RangePadding="ChartRangePadding.Round" Minimum="500" Maximum="1000" />
    <ChartTooltipSettings Enable="true" />
    <ChartSeriesCollection>
        <ChartSeries DataSource="@StoreApps" XName="Category" YName="People" Type="ChartSeriesType.Column">

        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>



<div class="justify-content-center">

    <button type="button" class="btn btn-primary" @onclick="@NavigatePrevious">Previous Chart</button>
</div>




@code {


    string responseBody = "";
    List<StoreApp> StoreApps = new List<StoreApp>();

    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }

    //protected void NavigateNext()
    //{
    //    NavManager.NavigateTo("charts3");
    //}

    protected void NavigatePrevious()
    {
        NavManager.NavigateTo("charts");
    }





}


