@page "/charts2"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks 
@using Syncfusion.Blazor.Charts

@using Syncfusion.Blazor.Data 
@using BapBlazor.Data
@using Newtonsoft.Json 
 


@inject HttpClient client
@inject NavigationManager NavManager

<h1>Chart Number 2</h1>

<SfAccumulationChart Title="Pie Chart showing the number of different prices and apps">
    <AccumulationChartSeriesCollection>
        <AccumulationChartSeries DataSource="@StoreApps" XName="Rating" YName="People"> </AccumulationChartSeries>
    </AccumulationChartSeriesCollection>
</SfAccumulationChart>




<button type="button" class="btn btn-primary" @onclick="@Navigate">Next Chart</button>




@code {


    string responseBody = "";
    List<StoreApp> StoreApps = new List<StoreApp>();

    protected override async Task OnInitializedAsync()
    {
        var apiName = "api/StoreApps";
        var httpResponse = await client.GetAsync(apiName);

        if (httpResponse.IsSuccessStatusCode)
        {
            responseBody = await httpResponse.Content.ReadAsStringAsync();
            StoreApps = JsonConvert.DeserializeObject<List<StoreApp>>(responseBody);
            StateHasChanged();
        }

    }

    protected void Navigate()
    {
        NavManager.NavigateTo("chart2");
    }





}


