@page "/pagination"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1>Pagination</h1>

<p>This component demonstrates pagination of the databaset.</p>

<p>One way to tackle this problem;</p>
<ul>
    <li>Start with pretty much the same code as FetchStoreApps.razor.</li>
    <li>Add buttons to move between pages of records e.g. 25 records.</li>
    <li>You could take inspiration from Counter.razor (increment and decrement a number).</li>
    <li>You could use this number to control which items in your list are displayed.</li>
    <li>Problems to solve are not going beyond the end of your list and decrementing less than zero.</li>
</ul>

