@page "/Recommendation"
    

<h1 style="background-color:cadetblue; font-family:'Courier New'; color:white; text-align:center ">App Recommendation</h1>

    <body style="background-color:lightyellow">

        <p style="font-family:'Courier New'; text-align:center"><i>Based on our analysis of trends within this dataset, we recommend the following:</i><br/>
            <ul style="font-family:'Courier New'; ">
                <li>
                    X
                </li>
                <li>
                    Y
                </li>
                <li>
                    Z
                </li>
            </ul>
        </p>

    </body>



