@page "/Recommendation"
    
@*//Coding the header & body of recommendation page*@
<h1 style="background-color:cadetblue; font-family:'Courier New'; color:white; text-align:center ">App Recommendation</h1>

    <body style="background-color:lightyellow">

        <p style="font-family:'Courier New'; text-align:center"><i>Based on our analysis of trends within this dataset, we recommend the following:</i><br />

            @*//Creating the table to display our recommendations and top categories*@
            <table style="width:100%; font-family:'Courier New'; color:cadetblue; text-align:center">
                <tr>
                    <th style="text-align:center">Trending Category</th>
                    <th style="text-align:center">Most Downloaded</th>
                    <th style="text-align:center">Our Recommendation</th>
                </tr>
                <tr>
                    <td style="color:slategray;"> 3.Music</td>
                    <td> 2,466 </td>
                    <td> Streaming Service, lLive Concert Feeds, Behind the Music </td>
                </tr>
                <tr>
                    <td style="color:slategray">2. Books</td>
                    <td>2,680</td>
                    <td> Book Reviews, Book Shoping, Audiable </td>
                </tr>
                <tr>
                    <td style="color:slategray">1. Business</td>
                    <td>2,831</td>
                    <td> Analytic Tools, Business Journals, Contracts Manager</td>

                </tr>    
            </table>

        </p>
    </body>



    