@page "/sort"
@using System.Net.Http

@inject HttpClient client

@using Newtonsoft.Json
@using Data

<h1>Sort</h1>

<p>This component demonstrates sorting the dataset.</p>

<p>One way to tackle this problem;</p>
<ul>
    <li>Start with pretty much the same code as FetchStoreApps.razor.</li>
    <li>Turn your table headers into hyperlinks.</li>
    <li>When you click on the table header use a method to sort your list accordingly.</li>
    <li>StoreApps is not a simple list, it is a list of objects.</li>
    <li>You will need to search on, "sorting a list by object property"</li>
</ul>

